body{
	background: url("../images/background.jpg") no-repeat fixed;	
	background-size: 100% 100%;
}

header{
	background-color: white;
	height: 150px;
	margin-top: 5px;
	margin-left: 0;
	opacity: 0.7;
    filter: alpha(opacity=30);
}

.head{
	position: fixed;
	width: 100%;
	top: 0px;
	margin-top: 0;
	left: 0;
}

footer{
	background-color: white;
	height: 30px;
	margin-bottom: 0;
}

.foot{
	position: fixed;
	width: 100%;
	bottom: 0px;
	margin-top: 3px;
	left: 0;
}

foot1 {
	top:5px;
}

header h1{
	font-size: 30px;
}

header li{
	display: inline;
	padding: 1px;

}

header ul{
	margin-top: 70px;
}

header a{
	text-decoration: none;
	color: grey;
	font-size: 15px;
	font-weight: bold;
}

header a:hover{
	text-shadow: 1px 1px 50px black;
	color: black;
}

.part1{
	margin-top: 275px;

}

.part1{
	color: white;

}

.part11 h3,p{
	margin-top: 0;
	margin-bottom: 0;
	text-shadow: 2px 2px 10px black;
}

.part1 img{
	height: 183px ;
	width: inherit ;
}

.part12 h3{
	margin-top: 0px;
	text-shadow: 2px 2px 10px black;
	margin-bottom: 0;
}

.part13 h3{
	margin-top: 0;
	text-shadow: 2px 2px 10px black;
	margin-bottom: 0;
}

.gallery{
	/*background: #e3e3e3;*/
}

.gallery a{
	font-size: 25px;
	text-shadow: 1px 1px 15px black;
	text-decoration: none;
	color: white;
}

.gallery a:hover{
	font-size: 26px;
	text-shadow: 1px 1px 35px black;
}

.gallery1{
	padding-top: 50px;
}

.about1{
	background-color: grey;
	margin-top: 75px;
	height: 350px;
	opacity: 0.5;
    filter: alpha(opacity=50);
    padding: 10px;

    margin-right: 50px;

}

.about1 p{
	font-size: 18px;
	color: white;
	text-shadow: 1px 1px 20px black;
}